.home__cta {
  background-color: #f4f4f0;
  border-bottom: 1px solid #ddd;
  padding: 40px 0px;
  text-align: center;

  h1 {
    margin-block-start: 0px;
    margin-block-end: 15px;
    font-size: 3em;
  }

  p {
    max-width: 600px;
    font-size: 18px;
    line-height: 26px;
    color: #797874;
    font-weight: 600;
    margin: 0px auto;
  }

  div {
    margin-top: 40px;
    padding-bottom: 10px;

    a {
      margin: 0px 10px;
      padding: 10px 20px;
      border-radius: 4px;
      background-color: #ccc;
      transition: 100ms ease-in-out;
      font-size: 16px;
      font-weight: 600;

      &:hover {
        opacity: 0.8;
      }

      &:nth-of-type(1) {
        background-color: var(--color-green);
        color: white;
        border: 1px solid var(--color-green);
      }

      &:nth-of-type(2) {
        background-color: #f5f5f5;
        color: #797874;
        border: 1px solid var(--color-silver);
      }
    }
  }
}

// Responsive
@media screen and (max-width: 680px) {
  .home__cta {
    padding: 40px 20px;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
    }

    div {
      margin-top: 30px;
      padding-bottom: 5px;

      a {
        padding: 6px 14px;
      }
    }
  }
}
