// Card component
.card {
  background-color: #f5f5f5;
  border: 2px solid var(--color-silver);
  border-radius: 5px;
  transition: 50ms ease;
  padding: 20px 0px;

  > div:nth-of-type(1) {
    height: 200px;
    margin: 0px 20px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    color: #797874;
    font-size: 18px;
    line-height: 26px;
    margin-block-end: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  > div:nth-of-type(2) {
    max-height: 40px;
    margin-bottom: 20px;
    overflow: hidden;

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  span {
    max-width: 80%;
    display: block;
    margin: 0px auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    border-color: var(--color-green);
  }
}

// Selected card
.active {
  border-color: var(--color-green);
}

// Card loan component
.card__loan {
  display: flex;
  justify-content: space-between;
  margin: 30px 15px 0px 15px;
  border-radius: 5px;
  border: 1px dashed var(--color-green);

  div:nth-of-type(1) {
    text-align: left;
  }

  div:nth-of-type(2) {
    text-align: right;
  }

  div {
    padding: 15px;

    h4 {
      font-size: 16px;
      margin: 0px;
    }

    h2 {
      font-size: 24px;
      margin-block-start: 5px;
      margin-block-end: 0px;
    }
  }
}
